body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffb6db; 
}

#aplicacion {
    background: white;
    padding: 20px;
    border-radius: 34px;
    box-shadow: 0 0 10px rgb(20 19 19 / 10%);
    border: 5px solid #ddd;
    text-align: center;
    font-family: initial;
}
ul {
    padding: 20px;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tarea.completada .descripcion {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
    border-radius: inherit;
}

.acciones {
    display: flex;
    align-items: center;
}
