body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffb6db; 
}

#aplicacion {
    background: white;
    padding: 20px;
    border-radius: 34px;
    box-shadow: 0 0 10px rgb(20 19 19 / 10%);
    border: 5px solid #ddd;
    text-align: center;
    font-family: initial;
}
ul {
    padding: 20px;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: inherit;
    
}

.tarea.completada .descripcion {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
    border-radius: inherit;
}

.acciones {
    display: flex;
    align-items: center;
}

/* Estilos personalizados para el checkbox */
input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ebd1e1;
    border: 2px solid #0f000b;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #f895c6; /* Color rosa pastel */
    border-color: #ffb6c1;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 2px;
}
