body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffb6db; 
}

#aplicacion {
    background: white;
    padding: 20px;
    border-radius: 34px;
    box-shadow: 0 0 10px rgb(20 19 19 / 10%);
    border: 5px solid #ddd;
    text-align: center;
    font-family: initial;
}

h1 {
    color: darkviolet;
}

ul {
    padding: 20px;
}

.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: inherit;
    
}

.tarea.completada .descripcion {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 10px;
    border-radius: inherit;
}

.acciones {
    display: flex;
    align-items: center;
}

/* Estilos personalizados para el checkbox */
input[type="checkbox"] {
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ebd1e1;
    border: 3px solid #0f000b;
    border-radius: 4px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #f895c6;
    border-color: #ffb6c1;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: rgb(189, 41, 194);
    border-radius: 10px;
}

/* Estilos para los títulos de la lista de tareas */
.titulos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Fondo blanco */
    padding: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 4px;
}

.titulos .titulo {
    flex: 1;
    text-align: center;
}

/* Estilos para las tareas */
.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5eff4; /* Color de fondo alternativo */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.tarea .acciones {
    display: flex;
    align-items: center;
}

.tarea input[type="checkbox"] {
    margin-right: 10px;
}